html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x:hidden;

}

header {
  background-color: rgba(0, 0, 0, 0.765);
  height: 10%;
  align-items: center;
  text-align: center;
}

#searchbox {
  width: 50%;
  height: 40%;
  margin-top: 1.5%;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

#main {
  background-color: rgba(255, 255, 255, 0.105);
  height: 72vh;
  width: 100%;
  padding: 10px 10px 10px 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
  column-gap: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

#main:focus{
  outline : none;
}


#now-playing-container {
  min-height: 12vh;
  color: white;
  background-color : rgba(0, 0, 0, 0.765);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  bottom:0;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  padding:5px;
  border-radius:20px;
}

#now-playing{
  flex:1;
  width:30%;
  display: absolute;


}


.song-container-button{
  width:30%;
  height:50px;
  margin-top: 40px;
}
