html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x:hidden;
  background-color: rgba(0, 0, 0, 1);

}

header {
  background-color: rgba(16, 0, 35, 0.765);
  height: 10%;
  align-items: center;
  text-align: center;
}

#searchbox {
  width: 50%;
  height: 40%;
  margin-top: 1.5%;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

#main {
  background-color: rgba(0, 0, 0, 1);
  height: 72vh;
  width: 98.5%;
  padding: 10px;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  column-gap: 5%;
  overflow-y: auto;
  overflow-x: hidden;

}


#main::-webkit-scrollbar {
  width: 10px;
}

#main::-webkit-scrollbar-thumb {
  background: #9d1dff;
  border-radius: 30px;;
}

#main::-webkit-scrollbar-track {
  background: #71007d;
  border-radius: 20px;
}

#main:focus{
  outline : none;
}

input{
  background-color: rgb(214, 166, 255);
}
#now-playing-container {
  min-height: 11vh;
  color: rgb(255, 255, 255);
  background-color : rgb(172, 76, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  bottom:0;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  padding:5px;
  margin:10px;
  border-radius:20px;
}

#now-playing{
  flex:1;
  width:30%;
  display: absolute;

}

audio{
  accent-color: blue;
}
audio::-webkit-media-controls-panel {
  background-color: black;
  color: aliceblue;
}

audio::-webkit-media-controls-play-button {
  background-color: aliceblue;
  border-radius: 50px;;
}

audio::-webkit-media-controls-timeline {
  background: #ffffff;
  border-radius: 60px;
  margin-left: 20px;
}

audio::-webkit-media-controls-current-time-display {
  color: #ffffff;
  margin-left:20px;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #ffffff;
}


.song-container-button{
  position: relative;
  left:0;
  height:50px;
  margin-top: 40px;
  background-color: rgb(163, 76, 240);
  color: white;
  box-shadow: 0px 0px 1000px 1px rgb(180, 17, 234);
  border: 0px;
  border-radius: 20px;
  left:10%;
  padding: 15px;
  padding-right: 25px;
  min-height: 100px;
  min-width:100%;
  z-index:2;
  display: block;
  width: 100%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;   

}

.song-container-button:hover{

  background-color: rgb(226, 83, 255);
  box-shadow: 2px 2px 20px 5px rgb(78, 0, 141);
  padding: 20px;
  position: relative;
  
  /* left:-5px; */
  /* right:5px; */
  transform :scale(1.25);
  z-index:0;
  transition: padding 0.5s, 
              background-color 0.25s ease,
              transform 1s;

}

.song-container-button:focus{
  outline: none;
}