html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x:hidden;
  background-color: rgba(0, 0, 0, 1);

}

header {
  background-color: rgba(0, 0, 0, 0.765);
  height: 10%;
  align-items: center;
  text-align: center;
}

#searchbox {
  width: 50%;
  height: 40%;
  margin-top: 1.5%;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

#main {
  background-color: rgba(0, 0, 0, 1);
  height: 72vh;
  width: 100%;
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns:0fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
  column-gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}


#main::-webkit-scrollbar {
  width: 10px;
}

#main::-webkit-scrollbar-thumb {
  background: #b71313;
}

#main::-webkit-scrollbar-track {
  background: #eee;
}

#main:focus{
  outline : none;
}

input{
  background-color: rgb(214, 166, 255);
}
#now-playing-container {
  color: white;
  background-color : rgba(0, 0, 0, 0.765);
}