html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x:hidden;
  overflow-y:auto;
  background:repeating-linear-gradient(to top,rgb(55, 0, 92),rgb(0, 0, 0));

  

}

header {
  background: linear-gradient(to bottom ,rgb(117, 8, 180),rgb(0, 0, 0));
  height: 13%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#searchbox {
  flex:5;
  max-width:50%;
  height: 40%;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  margin: 1.5% 20% 1.5% auto;
  background: linear-gradient(to right,rgb(117, 8, 180),rgb(130, 20, 200));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
}

#searchbox::placeholder{
  color: #ffffff;
}

#searchbox:focus{
  outline:none
}

#header-btn-group{
   flex:3;
   margin-left: 200px;
   border: #71007d;
}

.header-btn {
  background-color: #9d1dff;
  border-radius: 30px;
  border: none;
  padding:2% 5% 2% 5%;
  margin-left:10px;
  min-width:15%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
  background: radial-gradient(circle at center,rgb(119, 0, 255),rgb(139, 81, 255));
}

.header-btn:focus{
  outline: none;
}

#main {
  background:repeating-linear-gradient(to top,rgb(55, 0, 92),rgb(0, 0, 0));
  height: 68vh;
  width: 98.5%;
  padding: 10px;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  column-gap: 5%;
  row-gap:10px;
  overflow-y: auto;
  overflow-x: hidden;

}


#main::-webkit-scrollbar {
  width: 10px;
}

#main::-webkit-scrollbar-thumb {
  background: #9d1dff;
  border-radius: 30px;;
}

#main::-webkit-scrollbar-track {
  background: #71007d;
  border-radius: 20px;
}

#main:focus{
  outline : none;
}

input{
  background-color: rgb(214, 166, 255);
}
#now-playing-container {
  min-height: 12vh;
  color: rgb(255, 255, 255);
  /* background-color : rgb(172, 76, 255); */
  background: repeating-linear-gradient(to right,rgb(144, 0, 255),rgb(35, 0, 89));
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  bottom:0;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  padding:5px;
  margin:10px;
  border-radius:20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#now-playing{
  flex:1;
  width:30%;
  display: absolute;

}

audio{
  accent-color: blue;
}
audio::-webkit-media-controls-panel {
  background: black;
  color: aliceblue;
}

audio::-webkit-media-controls-play-button {
  background-color: aliceblue;
  border-radius: 50px;;
}

audio::-webkit-media-controls-timeline {
  background: #ffffff;
  border-radius: 60px;
  margin-left: 20px;
}

audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button {
  display: none;
}

audio::-webkit-media-controls-current-time-display {
  color: #ffffff;
  margin-left:20px;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #ffffff;
}

.song-container-button{
  position: relative;
  left:0;
  height:50px;
  margin-top: 40px;
  background: radial-gradient(circle at center,rgb(119, 0, 255),rgb(139, 81, 255));
  color: white;
  /* box-shadow: 0px 0px 1000px 1px rgb(180, 17, 234); */
  border: 0px;
  border-radius: 20px;
  left:10%;
  padding: 15px;
  padding-right: 25px;
  min-height: 100px;
  min-width:100%;
  z-index:2;
  display: block;
  width: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Verdana, Geneva, Tahoma, sans-serif;   
  font-size: 20px;

}

.song-container-button:hover{

  background: linear-gradient(to left,rgb(169, 126, 255),rgb(36, 0, 218));
  box-shadow: 2px 2px 20px 5px rgb(78, 0, 141);
  padding: 20px;
  position: relative;
  
  /* left:-5px; */
  /* right:5px; */
  transform :scale(1.25);
  z-index:0;
  transition: padding 0.5s, 
              background 0.25s ease,
              transform 1s;

}

.song-container-button:focus{
  outline: none;
}

