html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  background-color: rgba(0, 0, 0, 0.765);
  height: 10%;
  align-items: center;
  text-align: center;
}

#searchbox {
  width: 50%;
  height: 40%;
  margin-top: 1.5%;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

#main {
  background-color: rgba(255, 255, 255, 0.105);
  height: 75vh;
  width: 100vw;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
  column-gap: 10px;

}

#main:focus{
  outline : none;
}

#s1 {
  margin-left: 100px;
  margin-right: 100px;
}

#s0 {
  margin-left: 100px;
  margin-right: 100px;
}

#now-playing-container {
  color: white;
  background-color : rgba(0, 0, 0, 0.765);
}